<div class="mdl-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title mdl-color-text--primary">
		<h1 class="mdl-card__title-text">Look up your Local Forecast!</h1>
	</div>
		<div class="mdl-card__supporting-text"><p><em>What's the weather like in your city?</em></p>
		<%= form_tag root_path do %>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield-label">
			<%= label_tag(:city, "City Name", class: "mdl-textfield__label") %>
			<%= text_field_tag :city, nil, class: "mdl-textfield__input" %><br>
		</div>
		<div>
			<%= select_tag :state, options_for_select(@states), :prompt => "Select a State" %><br>
		</div>
		<div>
			<%= button_tag(type: 'submit', class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored') do %>
			<i class="material-icons">search</i>
			<% end %>
		</div>

		<% end %>
	</div>
</div>