<%= render 'form' %>

<div class="mdl-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title mdl-color-text--primary">
		<h1 class="mdl-card__title-text">Forecast for <%= @location %>:</h1>
	</div>
	<div class="mdl-card__supporting-text mdl-grid">
		<div class="mdl-cell mdl-cell--7-col">
			<p>Temperature: <%= @temp_f %>° F / <%= @temp_c %>° C </p>
			<p>Feels like: <%= @feels_like %>° F</p>
		</div>
		<div class="mdl-cell mdl-cell--5-col">
			<p>
				<%= image_tag @weather_icon %><br>
				<%= @weather_words %>
			</p>
		</div>
	</div>
	<div class="mdl-card__actions mdl-card--border">
		<%= link_to "Full Forecast", @forecast_link, target: "_blank", class: "mdl-btn mdl-btn--accent mdl-js-button" %>
	</div>
</div>